* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 1170px;
  margin: auto;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 54px 0;
}

.primary-btn {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 12px 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  background-color: #00b074;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.primary-btn:hover {
  opacity: 0.8;
}

.header {
  width: 1170px;
  margin: auto;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header-nav__item {
  position: relative;
  padding: 16px 0;
  height: 100%;
}

.header-nav__item a {
  font-weight: 600;
  font-size: 17px;
  color: #2b3940;
}

.header-nav__item::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00b074;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-nav__item:hover::before {
  width: 100%;
}

.header-btns button {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 12px 32px;
  cursor: pointer;
}

.header-btns__login {
  background-color: transparent;
  border: none;
}

.header-btns__login:hover {
  color: #00b074;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  background-color: #fff;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 18px;
  margin-top: 80px;
  margin-left: 16px;
}

.search-input__icon {
  font-size: 16px;
  color: #00b074;
}

.search-input input {
  outline: none;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  width: 352px;
  line-height: 26px;
}

.search-input span {
  font-size: 24px;
  color: #f1f1f1;
  font-weight: 100;
  line-height: 26px;
}

.search-combobox {
  margin-left: 10px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-combobox i {
  font-size: 16px;
  color: #00b074;
}

.search-combobox span {
  font-size: 15px;
  width: 164px;
  margin-left: 16px;
}

.search-combobox__down {
  color: #000 !important;
  margin-right: 24px;
}

.filter {
  width: 33.33333%;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.filter-section h1 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 18px;
}

.filter-item {
  margin: 6px 0;
}

.filter-item label {
  font-size: 18px;
}

.job-list {
  width: 66.66667%;
  padding: 0 16px;
}

.job .job-result {
  font-size: 15px;
  font-weight: 400;
}

.job-item {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin-top: 32px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.job-item:hover {
  -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.04);
          box-shadow: 0 40px 60px rgba(0, 0, 0, 0.04);
}

.job-item__cty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-item__cty i {
  font-size: 72px;
  margin-right: 25px;
  width: 72px;
}

.job-item__cty--in4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
}

.job-item__cty--in4 h4 {
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
  cursor: pointer;
}

.job-item__cty--in4 h4:hover {
  opacity: .8;
}

.job-item__cty--in4 h6 {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.job-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.job-item__tags li {
  display: block;
  font-size: 14px;
  background-color: #f3f9fc;
  padding: 4px 16px;
  line-height: 26px;
}

.job-item__days {
  font-size: 12px;
  opacity: .6;
  font-weight: 400;
  margin-top: 12px;
}

.job-item__apply {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.job-item__mark {
  padding: 7px 10px 6px 10px;
  border-radius: 6px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.job-item__mark i {
  font-size: 20px;
  color: #00b074;
}
/*# sourceMappingURL=style.css.map */